<p>
    &copy; @Document.GetString(WebKeys.Copyright) @Document.GetString(WebKeys.Author) with <a
        href="https://statiq.dev">Statiq</a>. Theme: <a href="https://github.com/dbtek/dbyll">dbyll</a> by dbtek.
</p>
